h1{
    text-align: center;
    font-size: 65px;
}
.image-left {
    float: left;
    margin-right: 1px; 
}
body{
    background-color: cornsilk;
}
hr{
    height: 3px;
    background-color: black;
}
ul{
    font-size: 40px;
    font-weight: bold;

}
p{
text-align: center;
    font-size: 30px;
}
ol{
   text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration:overline
}
h2{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    text-decoration:underline;
}
a{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 250%;
    font-family: sans-serif;
  }
  .clear-rule {
  clear: both;
}