h1{
    text-align: center;
    font-size: 65px;
}

body{
    background-color: cornsilk;
}
hr{
    height: 3px;
    background-color: black;
}
h2{
    text-align: center;
    font-size: 40px;
}
ol{
     font-size: 40px;

}